  <div class='posts'>
    <% @posts_list.each do |u| %>
    <div class='post'>
      <h3>Post # <%= u.id %></h3>
      <p> Text:<%= u.text %></p>
      <div>
        Comments: <%= u.comments_count %>
        Likes: <%= u.likes_count %>
      </div>
    </div>
    <% end %>
  </div>