<li class="user_index_li">
  <div class="user_index_li_img">
    <img src="<%= user.photo %>">
  </div>
  <div class="user_index_li_name">
    <h3><%= user.name.capitalize %></h3>
    <p>Number of posts: <span><%= user.posts_counter %></span></p>
  </div>
</li>