<div id='current_user'>
  <%= render 'users/the_user'%>

  <div class='bio'>
    Bio: <p><%= @user.bio %></p>
  </div>

  <%= render 'users/list_post' %>

  <div class="btn-container">
    <%= link_to "See all posts", "#{@user.id}/posts", class: "button" %>
  </div>
</div>