<li class="post_index_li">
  <h3>Title: <%= post.title %></h3>
  <p><%= post.text %></p>
  <div class="post_index_li_counters">
    <p class="post_index_li_comments">Comments: <span><%= post.comments_counter %></span></p>  
    <p class="post_index_li_likes">Likes: <span><%= post.likes_counter %></span></p>
  </div>
</li>