<div class="post_index_main_div">
  <div class="post_index_user">
    <%= render @user %>
  </div>
  <div>
    <% @posts.each do |post| %>
      <%= render post %>
      <div>
        <ul>
          <li class="post_index_comment">
            <% post.comments.each do |comment| %>
              <p><%= comment.user.name.capitalize %>: <%= comment.text %></p>
            <% end %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</div>