
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  justify-content: center;
  align-items: center;
}

#post_title,
#post_text {
  width: 30rem;
}

#post_text {
  height: 6rem;
}

.title_field {
  display: flex;
  flex-direction: column;
}

.text_tarea {
  display: flex;
  flex-direction: column;
  border: none;
}

.hello_error {
  margin: 2rem auto;
  text-align: center;
  color: red;
}

.flash_success {
  color: green;
}

.title_field,
.text_tarea {
  margin: 0.3rem;
  font-size: 2rem;
}

.submit_button input {
  background-color: rgb(0, 164, 196);
  color: rgb(79, 79, 79);
  width: 30rem;
  height: 3rem;
  font-size: 1.5rem;
  border: 1px solid gray;
  cursor: pointer;
}

.submit_button input:active {
  background-color: rgb(0, 184, 220);
}
