// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
}

#user_posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.see_posts_user {
  max-width: 40rem;
}

.posts_with_comments {
  margin: 0 0 3rem 0;
}

.text {
  border: 1px solid gray;
  padding: 0.3rem;
}

.text .comments_likes {
  display: flex;
  justify-content: end;
  margin: 1rem;
}

.comments {
  border: 1px solid gray;
  margin: 0.3rem 0 0 0;
  padding: 0.3rem;
}

#user_post {
  display: flex;
  flex-direction: column;
  margin: 2rem auto 0;
  width: 50rem;
}

#user_post h2 {
  margin: 2rem 0 0 0;
  text-align: center;
}

.content {
  border: 1px solid gray;
  padding: 1rem;
  margin-bottom: 0.3rem;
}

.users_comments {
  border: 1px solid gray;
  padding: 0.3rem;
}

.comments_and_likes {
  display: flex;
  justify-content: end;
}

.thumbs_up {
  margin: 0 0.5rem;
}

.top {
  display: flex;
  justify-content: space-between;
}

#add_new_post {
  font-size: 1.6rem;
  margin: 1rem 0 1rem 0;
}

.fa-thumbs-up:hover {
  transform: scale(1.2);
}
