// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.post_index_main_div {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post_index_li {
  width: 40rem;
  height: 7rem;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;

  h3 {
    align-self: flex-start;
    padding: 0;
    margin: 0.5rem 0 0 1rem;
  }

  p {
    padding: 0;
    align-self: start;
    margin: 1rem 0 0 2.5rem;
  }
}

.post_index_li_counters {
  margin: 0 2rem 0 0;
  padding: 0;
  display: flex;
  align-self: flex-end;
}

.post_index_li_comments {
  span {
    font-weight: bold;
  }
}

.post_index_li_likes {
  span {
    font-weight: bold;
  }
}

.post_index_comment {
  border: 1px solid black;
  border-radius: 10px;
  width: 40rem;
  min-height: 5rem;
  margin-top: 0.2rem;

  p {
    margin-left: 0.5rem;
    font-weight: bold;
  }
}
