// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "font-awesome";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
}

#users_section,
#current_user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users {
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
  align-items: center;
  min-width: 40rem;
}

.user h2 {
  margin: 1rem;
}

.users_pic,
.user_pic {
  border: 1px solid gray;
  width: 5rem;
  height: 5rem;
}

.users_name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid gray;
  margin: 0 0 0 1rem;
  padding: 1rem;
  min-width: 30rem;
}

.users_name p {
  position: relative;
  top: 1rem;
}

.bio {
  margin: 1rem;
  max-width: 40rem;
  border: 1px solid gray;
  padding: 0.3rem;
}

.post {
  max-width: 40rem;
  border: 1px solid gray;
  padding: 0.3rem;
  margin: 0 0 1rem 0;
}

.posts {
  min-width: 40rem;
}
